/* Layout geral */
.all {
  display: flex;
  flex-direction: row;
  background-color: #f7f8fa;
  min-height: 100vh;
}

/* Conteúdo principal */
.main-content {
  width: 80%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  background-color: #f7f8fa;
  border-radius: 10px;
  padding: 20px 30px;
}

/* Títulos */
.title {
  font-size: 40px;
  font-weight: bold;
  margin: 10px 0 20px 0;
  color: #222;
}

.subtitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #a31d1c;
}

/* Tabela */
.tabela-container {
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

thead {
  background-color: #a31d1c;
  color: white;
}

th, td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f1f1f1;
  transition: background 0.3s;
}

/* Status */
.status {
    padding: 3px 8px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
}

.status.confirmado {
    color: #28a745; /* verde */
}

.status.a-caminho {
    color: #007bff; /* azul */
}

.status.negado {
    color: #dc3545; /* vermelho */
}

.status.pendente {
    color: #ffc107; /* amarelo */
}




.integrar-btn {
  margin-top: 20px;
  align-self: flex-start; /* joga o botão pra direita */
  padding: 10px 20px;
  background-color: #a70b0b; /* cinza neutro */
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease;
  font-weight: bold;
}

.integrar-btn:hover {
  background-color: #6d0f0f;
  color: white;
}

/* Botão Aceitar */
.check-btn {
  background-color: #28a745; /* verde */
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

.check-btn:hover {
  background-color: #218838; /* verde mais escuro no hover */
}

/* Botão Negar */
.deny-btn {
  background-color: #dc3545; /* vermelho */
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

.deny-btn:hover {
  background-color: #c82333; /* vermelho mais escuro no hover */
}

/* Se quiser que fiquem lado a lado com espaço */
td form {
  display: inline-block;
  margin-right: 5px;
}
